.make-admin form > div {
  max-width: 85rem;
  border-radius: 15px;
}

.make-admin label {
  font-weight: bold;
  text-align: center;
}

.make-admin .btn {
  padding: 0.65rem 2rem;
  margin-left: 1rem;
}
