

.about-container .col-md-4 > p {
  color: #ed5217;
}

.about-container .col-md-4 > h3 {
  margin-bottom: 2rem;
  position: relative;
}

.about-container .col-md-4 > h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 80px;
  height: 3px;
  background: #ed5217;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .about-container {
    height: 750px;
  }
}
