.add-service .upload-btn {
  border: 2px solid #f8c59a;
  color: #fd7e15;
  max-width: 16rem;
}

.add-service .upload-btn:hover,
.add-service .upload-btn:active {
  border: 2px solid #fd7709 !important;
  color: white;
  background: #fd7709 !important;
  border-radius: 0.25rem;
}

.add-service .submit-btn {
    width: 9rem;
    padding: .68rem 0;
}
