.header-container {
  height: 100vh;
}
.header-container::after {
  height: 100vh;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 68%;
  background-image: url("../../../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -50;
}

.navbar {
  transition: all 0.3s;
}

.navbar .nav-link {
  color: black;
  font-weight: 500;
}

.banner {
  height: 100vh;
}

.banner h1 {
  font-size: 3.2rem;
  color: #3a4256;
}

.banner .btn {
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
  border-radius: 50px;
}

.navbar .btn {
  border-radius: 50px;
}


@media (max-width: 768px) {
  .banner h1 {
    font-size: 2rem;
  }
  .banner p {
    font-size: 0.9rem;
  }
  .banner .btn {
    font-size: 0.9rem;
    padding: 0.6rem 1.4rem;
    border-radius: 50px;
  }
  .header-container {
    height: 500px;
  }
  .header-container::after {
    height: 500px;
    width: 360px;

    background-size: contain;
  }
  .banner {
    height: 500px;
    margin-top: 80px;
  }
}
