.contact-section {
  background-color: #444442;
  padding-top: 85px;
  padding-bottom: 85px;
}

.contact-section h1 {
  font-family: "Poppins", sans-serif, "arial";
  font-weight: 600;
  font-size: 3rem;
  color: white;
  text-align: center;
}

.contact-section h4 {
  font-family: "Roboto", sans-serif, "arial";
  font-weight: 400;
  font-size: 20px;
  color: #9b9b9b;
  line-height: 1.5;
}

/* ///// inputs /////*/

.contact-section input:focus ~ label,
.contact-section textarea:focus ~ label,
.contact-section input:valid ~ label,
.contact-section textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.contact-section .styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .contact-section .styled-input {
    width: 100%;
  }
}

.contact-section .styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.contact-section .styled-input.wide {
  width: 650px;
  max-width: 100%;
}

.contact-section input,
.contact-section textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

.contact-section input:focus,
.contact-section textarea:focus {
  outline: 0;
}

.contact-section input:focus ~ span,
.contact-section textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

.contact-section textarea {
  width: 100%;
  min-height: 15em;
}

.contact-section .input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.contact-section .submit-btn {
  float: right;
  padding: 10px 35px;
  border-radius: 60px;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.contact-section .submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
  .contact-section .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}

.contact-section input[type="checkbox"] + label {
  color: #ccc;
  font-style: italic;
}

.contact-section input[type="checkbox"]:checked + label {
  color: #f00;
  font-style: normal;
}
