.service-detail {
  transition: all 0.3s;
}

.service-detail .card {
  border-radius: 20px;
  transition: 0.4s ease-out;
  max-height: 22rem;
  z-index: 1;
}

.service-detail .card:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-20px);
}

.service-detail .card img {
  transition: all 0.3s;
}

.service-detail .card:hover img {
  height: 80px;
}

.service-detail .card:hover::before {
  transform: scaleY(1);
}

.service-detail .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #fdf3ed;
  border-radius: 15px;
  z-index: -1;
  transition: transform 300ms ease-in-out;
  transform: scaleY(0);
  transform-origin: bottom;
}

.service-detail .card-body .card-title {
  transition: all 0.3s;
}

.service-detail .card:hover .card-body .card-title {
  margin-bottom: 3px !important;
  margin-top: 12px !important;
}

.service-detail .card:hover .card-body > div {
  display: block;
  opacity: 1;
}

.service-detail .card .card-body > div > p {
  margin: 0;
  color: #ed5217;
  font-weight: 700;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.service-detail .card .card-body > div > .btn {
  font-size: 1rem;
  padding: 0.7rem 2rem;
  border-radius: 50px;
}

.service-detail .card .card-body > div {
  display: none;
  position: relative;
  z-index: 3;
  opacity: 0;
  bottom: 16px;
  color: white;
  transition: opacity 0.5s ease-in-out, display 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .service-detail .card {
    max-height: 24rem;
  }
}
