.testimonials {
  background: aliceblue;
  height: 700px;
}

.testimonials > div {
  position: relative;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .testimonials > div {
    margin-top: 20px;
  }
}

.review-title > span {
  font-size: 1rem;
  color: #ed5217;
  text-transform: capitalize;
  display: block;
  margin-top: -0.6em;
}

.review-title h2 {
  margin: 0.3em 0 0;
  font-size: 2rem;
  font-weight: 600;
  color: #444;
  padding-bottom: 20px;
  margin-bottom: 50px;
  position: relative;
  margin-top: 15px;
}

.review-title {
  text-align: center;
  margin-bottom: 30px;
}

.review-title h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 5rem;
  height: 3px;
  background: #ed5217;
  border-radius: 20px;
  left: 50% !important;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.swiper-pagination {
  transform: translateY(10px);
}

.testimonials .swiper-pagination span {
  height: 10px;
  width: 10px;
  background: #fff;
  border: 2px solid #ed5217;
  margin: 0 5px;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background: #ed5217;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}

.testimonials .card {
  background: #fff;
  box-shadow: 0 8px 30px -7px #c9dff0;
  margin: 0 20px;
  min-height: 340px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
}

.testimonials .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px #95abbb;
  width: 100px;
  height: 100px;
}

.testimonials .card h5 {
  color: #ed5217;
  font-size: 21px;
  line-height: 1.3;
}

.testimonials .card h5 span {
  font-size: 18px;
  color: #666666;
}

.testimonials .card p {
  font-size: 18px;
  color: #777;
  padding-bottom: 15px;
}

.testimonials .swiper-slide-next h5 {
  font-size: 24px;
}

.testimonials .swiper-slide-next h5 span {
  font-size: 20px;
}

.testimonials .swiper-slide-next .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}
