p {
  line-height: 2;
  font-size: 1rem;
}

.btn {
  box-shadow: none !important;
}

.toast {
  z-index: 9999;
  position: absolute;
  top: 22rem;
  left: 10rem;
  right: 0;
  background-color: white;
}
